.signup_bg {
    background: url("../../images/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 87vh;
    background-position:  start;
}
.form_container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    height: 460px;
}
.form_container a {
    text-decoration: none;
    color: rgb(251, 116, 12);
}
/* login and signup section */
/* networks section */
.networks_container {
    width: 40vw;
    padding-top: 2.8rem;
    /* height: 150px; */
}
.networks_container h2 {
    padding: 0.6rem 0;
    font-size: 2rem;
    color: #4a4646;
}
.networks_container button {
    margin-top: 1.4rem;
    background: linear-gradient(to right, rgb(255, 136, 0),rgb(60, 0, 255));
    border: none;
    padding: 0.1rem;
    font-size: 1.3rem;
    color: #fff;
}
.networks_container button:hover {
    background: #03eafb;
    cursor: pointer;
}
/* signup section */
.signup_container {
    border-radius: 25px;
    box-shadow: 0 0 7px 0.06px #000;
    background-color: #fff;
    width: 35vw;
    text-align: center;
    padding-top: 4rem;
    font-size: 1.1rem;
    box-shadow: 0 0 8px 2px rgb(251, 116, 12);
}
.signup_container input {
    display: block;
    width: 27vw;
    height: 7vh;
    margin: 1.6rem 0;
    margin-left: 3.5rem;
}
.signup_container h2 {
    margin-bottom: 0.7rem;
}
.signup_container button {
    background: linear-gradient(to right, rgb(0, 79, 128),red);
    border: none;
    height: 2rem;
    width: 4.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 0.7rem 0;
}
.signup_container button:hover {
    background: #00eeff;
}

@media screen and (max-width:1300px) {
    .networks_container h2 {
        font-size: 1.5rem;
    }*
    .signup_container{
        width: 40vw;
    }
}
@media screen and (max-width:768px) {
    .form_container {
        display: block;
        margin-left: 3rem;
        /* height: 80vh; */
    }
    .signup_container {
        width: 80vw;
        padding-bottom: 2rem;
    }
    .signup_container input {
        width: 58vw;
    }
    .networks_container {
        width: 80vw;
        padding: 3rem;
    }
    .networks_container h2 {
        font-size: 2.3rem;
    }
    
}