.signup_bg {
  background-image: url("../../images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: start;
}
.form_container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  height: 460px;
}
.form_container a {
  text-decoration: none;
  color: rgb(251, 116, 12);
}
/* login and signup section */
/* networks section */
.networks_container {
  width: 50vw;
  margin-top: 100px;
  text-align: justify;
  margin-right: 3vw;
}
.networks_container h1 {
  padding: 0.6rem 0;
  font-weight: 550;
  font-size: 43px;
  margin-left: 5px;
  background-image:  linear-gradient(310deg, #000000, #e33f00);
  background-clip: text;
  color: transparent;
}
.networks_container p {
  line-height: 25px;
  width: 43vw;
  margin-right: 15px;
  opacity: 0.7;
}
.networks_container p:not(:last-child) {
  margin-top: 15px;
}

.orange {
  background: rgb(251, 116, 12);
  margin-top: 2rem;
  border: none;
  padding: 0.3rem;
  font-size: 0.9rem;
  color: #fff;
  height: 3rem;
  width: 15rem;
  text-align: center;
  border-radius: 3px;
}

.signup_container {
  margin-left: 5vw;
  width: 60vw;
  margin-top: 5vw;
}

span {
  display: inline-flex;
  margin: 15px auto;
  font-size: medium;
  color: rgb(106, 118, 144);
}
span a {
  margin-left: 5px;
}
.privacy {
  font-size: small;
  margin: 0;
  color: rgb(130, 131, 133);
}
.privacy a {
  text-decoration: underline;
}
/* } */
.signup_container form {
  width: 43vw;
  height: 500px;
  border-radius: 6px;
  box-shadow: 0 0 7px 0.06px #e2e0e0;
  background-color: #fff;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.1rem;
  height: 75vh;
  margin: 4rem 2;
  padding-right: 0;
  padding-left: 1rem;
  padding-bottom: 77.5vh;

}

.signup_container input {
  display: block;
  width: 36vw;
  border-radius: 2px;
  height: 8vh;
  margin: 0.5rem 2rem;
  /* margin-left: 6rem; */
  border: 1px solid rgb(190, 191, 192);
  padding-left: 15px;
}
.signup_container .email {
  width: 36vw;
}
.signup_container input::-moz-focus-inner {
  border-bottom: 2px solid rgb(251, 116, 12);
}
.signup_container .name {
  width: 16vw;
}

.signup_container h2 {
  font-size: medium;
  color: rgb(68, 85, 115);
}

.signup_container button {
  /* background: linear-gradient(to right, rgb(0, 79, 128), red); */
  border: none;
  height: 3rem;
  width: 36vw;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem 0;
  background: rgb(60, 103, 221);
  margin-right: 1rem;
  /* padding: 15px 0; */
}
.signup_container button:hover {
  background: rgb(11, 94, 215);
}
.password_container {
  display: flex;
  align-items: center;
  position: relative;
}
.password_container i {
  position: absolute;
  right: 3.9vw;
  cursor: pointer;
  color: rgb(251, 116, 12);
}
.name_input {
  margin-right: 1rem;
  display: flex !important;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .networks_container h2 {
    font-size: 1.5rem;
  }
  * .signup_container {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  .form_container {
    display: block;
  }
  .signup_container .name {
    width: 25vw;
    
  }
  .signup_container form {
    width: 80vw;
  }
  .signup_container button {
    width: 65vw;
    margin-right: 0.6rem;
  }

  .signup_container input {
    width: 63vw;
  }
  .signup_container .email {
    width: 63vw;
  }
  .networks_container {
    display: none;
  }
  .password_container i {
    margin-right: 1.4rem ;
    padding-top: 5px;
  }
}
