* {
  margin: 0;
  padding: 0;
}
.hol {
  background-color: #eeeaea;
  padding-bottom: 400px;
}
.generaly {
  width: 70vw;
  margin-left: 202px;
}
.question {
  padding-top: 18px;
  border-bottom: 1px solid #cec5c5;
  padding-right: 400px;
}
.both {
  display: flex;
}
.both button {
  margin-top: 15px;
  padding: 5px;
  width: 5rem;
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  background: rgb(53, 126, 235);
  color: #fff;
}
.siglequestion {
  border-bottom: 2px solid #cec5c5;
  width: 65vw;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: #b1adad;
}
.btn {
  padding: 20px;
  margin-left: 48vw;
  display: flex;
  justify-content: space-between;
}
.btn button {
  padding: 3px 15px;
  border: none;
  background: #fff;
  font-size: medium;
}
.btn button:not(:last-child) {
  color: #d49644;
}
.btn button:not(:first-child) {
  color: rgb(90, 2, 2);
}
.student {
  margin-bottom: 10px;
  border-bottom: 2px solid #cec5c5;
  width: 65vw;
  border-top: 2px solid #cec5c5;

  padding: 8px 0;
}
.answerlist {
  width: 65vw;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: #b1adad;
}
